{% extends '@SonataAdmin/standard_layout.html.twig' %}
{% block sonata_admin_content %}
    {# @var object \App\Entity\DespachoAlmacen\AppDespachoAlmacen #}
    {% include '::Admin/DespachoAlmacen/content-header.html.twig' with {'title': "Despacho del Almacén: ", 'subtitle': object.fecha|date('Y-m-d')} only %}

    <section class="content">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="box box-primary" style="margin-bottom: 100px;">
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-bordered table-striped table-hover sonata-ba-list">
                            <thead>
                            <tr class="sonata-ba-list-field-header">
                                <th style="width: 10px"></th>
                                <th>Número</th>
                                <th>Accesorios</th>
                                <th>Armadura</th>
                                <th>Cristal</th>
                                {#                                <th>Lupas</th>#}
                                <th>Acción</th>
                            </tr>
                            </thead>
                            <tbody>
                            {# @var orden_servicio \App\Entity\AppOrdenServicio #}
                            {% for orden_servicio in list_orden_servicio %}
                                <tr id="row_{{ orden_servicio.id }}">
                                    <td>
                                        <input type="checkbox" value="{{ orden_servicio.id }}">
                                    </td>
                                    <td>{{ orden_servicio.numero }}</td>
                                    <td>
                                        {# @var accoserio \App\Entity\AppAccesorio #}
                                        {% for accoserio in orden_servicio.accesorios %}
                                            <input type="checkbox">
                                            {{ accoserio }}
                                            <br>
                                        {% endfor %}
                                        {% if orden_servicio.accesorios|length == 0 %}
                                            <em>No tiene Accesorio(s)</em>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if orden_servicio.armadura %}
                                            <input type="checkbox">
                                            {{ orden_servicio.armadura }}
                                        {% else %}
                                            <em>No tiene Armadura</em>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if orden_servicio.receta.cristalOd %}
                                            <input type="checkbox">
                                            OD - {{ orden_servicio.receta.cristalOd }}
                                            <br>
                                        {% endif %}

                                        {% if orden_servicio.receta.cristalOi %}
                                            <input type="checkbox">
                                            OI - {{ orden_servicio.receta.cristalOi }}
                                        {% endif %}

                                        {% if orden_servicio.receta.cristalOd is null and orden_servicio.receta.cristalOi is null %}
                                            <em>No tiene cristales</em>
                                        {% endif %}
                                    </td>
                                    {#                                    <td>#}
                                    {#                                        <input type="checkbox"> A<br>#}
                                    {#                                        <input type="checkbox"> B<br>#}
                                    {#                                        <input type="checkbox"> C#}
                                    {#                                    </td>#}
                                    <td>
                                        <div class="btn-group">
                                            <div class="btn-group">
                                                <a href="/admin/app/appordenservicio/49/edit"
                                                   class="btn btn-sm btn-success edit_link" title="Editar">
                                                    <i class="fa fa-save" aria-hidden="true"></i>
                                                    Guardar
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="box-footer">
                        <a href="{{ admin.generateUrl('list') }}"
                           class="btn btn-sm btn-default" title="Cancelar">
                            <i class="fa fa-backward" aria-hidden="true"></i>
                            Regresar
                        </a>
                        <a href="javascript:alert('desarrollo')"
                           class="btn btn-sm btn-success" title="Cancelar">
                            <i class="fa fa-save" aria-hidden="true"></i>
                            Guardar
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}