{% extends "SonataAdminBundle:CRUD:edit.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    <style>
    </style>
{% endblock stylesheets %}
{% block javascripts %}
    {{ parent() }}
<script type="text/javascript">
    $(document).ready(function () {
        $('#sonata-ba-field-container-{{ admin.uniqid }}_numero').addClass('col-md-6');
        $('#sonata-ba-field-container-{{ admin.uniqid }}_precio').addClass('col-md-6');
        $('#sonata-ba-field-container-{{ admin.uniqid }}_paciente').addClass('col-md-12');
        $('#field_widget_{{ admin.uniqid }}_paciente').addClass('col-md-12')
            .after("<br><br>");

        $('#sonata-ba-field-container-{{ admin.uniqid }}_receta_numero').addClass('col-md-3');
        $('#sonata-ba-field-container-{{ admin.uniqid }}_receta_fecha').addClass('col-md-3');
        $('#sonata-ba-field-container-{{ admin.uniqid }}_receta_dp').addClass('col-md-3');
        $('#sonata-ba-field-container-{{ admin.uniqid }}_receta_add')
            .addClass('col-md-3').after("<div class='row'></div>");


        $('#sonata-ba-field-container-{{ admin.uniqid }}_receta_eje_od').addClass('col-md-3');
        $('#sonata-ba-field-container-{{ admin.uniqid }}_receta_a_visual_od').addClass('col-md-3');
        $('#sonata-ba-field-container-{{ admin.uniqid }}_receta_cristal_od').addClass('col-md-6');

        $('#sonata-ba-field-container-{{ admin.uniqid }}_receta_eje_oi').addClass('col-md-3');
        $('#sonata-ba-field-container-{{ admin.uniqid }}_receta_a_visual_oi').addClass('col-md-3');
        $('#sonata-ba-field-container-{{ admin.uniqid }}_receta_cristal_oi').addClass('col-md-6');
    });
</script>
{% endblock %}