{% extends base_template %}
{% import 'SonataAdminBundle:CRUD:base_show_macro.html.twig' as show_helper %}

{% block show %}
    <section class="content">
        <div class="row">
            <div class="box box-primary">
                <div class="box-header">
                    <h4 class="box-title">
                        Lista de Factura(s) Asignada(s)
                    </h4>
                </div>
                <div class="box-body table-responsive no-padding">
                    <table class="table table-bordered table-striped table-hover sonata-ba-list">
                        <thead>
                        <tr class="sonata-ba-list-field-header">
                            <th class="sonata-ba-list-field-header-date">Fecha</th>
                            <th class="sonata-ba-list-field-header-integer">Número Factura</th>
                            <th class="sonata-ba-list-field-header-orm_one_to_many ">
                                Productos
                            </th>
                            <th class="sonata-ba-list-field-header-text "></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for value in object %}
                            <tr>
                                <td class="sonata-ba-list-field sonata-ba-list-field-date" objectid="{{ value.id }}">
                                    {{ value.fecha|date('d/m/Y') }}</td>
                                <td class="sonata-ba-list-field sonata-ba-list-field-text"
                                    objectid="{{ value.id }}">
                                    {{ value.numeroFactura }}</td>
                                <td class="sonata-ba-list-field sonata-ba-list-field-orm_one_to_many">
                                    {#  @var \App\Entity\MovimientoAlmacen\InformeRecepcionOptica object   #}
                                    {% for value in value.accesorios %}
                                        {{ value }},
                                    {% endfor %}
                                    {% for value in value.armaduras %}
                                        {{ value }},
                                    {% endfor %}
                                    {% for value in value.cristales %}
                                        {{ value }},
                                    {% endfor %}
                                    {% for value in value.lupas %}
                                        {{ value }},
                                    {% endfor %}
                                    {% for value in value.tinteCristales %}
                                        {{ value }},
                                    {% endfor %}
                                </td>
                                <td class="sonata-ba-list-field sonata-ba-list-field-text"
                                    objectid="{{ value.id }}">
                                    <div class="btn-group">
                                        <button class="btn btn-sm btn-success" data-toggle="modal"
                                                data-target="#myModal" data-value="{{ value.id }}">
                                            <i class="fa fa-plus-square" aria-hidden="true"></i> Confirmar
                                        </button>
                                        {#                                        <a href="{{ admin.generateUrl('save_confirmar_factura',{'id':value.id}) }}"#}
                                        {#                                           class="btn btn-sm btn-success" title="Confirmar">#}
                                        {#                                            <i class="fa fa-plus-square" aria-hidden="true"></i>#}
                                        {#                                            Confirmar#}
                                        {#                                        </a>#}
                                        <a href="{{ admin.generateUrl('cancelar_factura',{'id':value.id,'redirectTo':"confirmar_factura"}) }}"
                                           class="btn btn-sm btn-warning" title="Cancelar">
                                            <i class="fa fa-close" aria-hidden="true"></i>
                                            Cancelar
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="box-footer">
                <a href="{{ admin.generateUrl('list') }}"
                   class="btn btn-sm btn-default" title="Cancelar">
                    <i class="fa fa-backward" aria-hidden="true"></i>
                    Regresar
                </a>
            </div>
        </div>
    </section>

    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                {#                <div class="modal-header">#}
                {#                    <button type="button" class="close" data-dismiss="modal">&times;</button>#}
                {#                    <h4>Datos de La Factura</h4>#}
                {#                </div>#}
                <div class="modal-body">
                    <div id="loading"><img src="{{ asset('bundles/sonataadmin/ajax-loader.gif') }}"></div>
                    <div id="data"></div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('button').on('click', function () {
                if (this.dataset.value) {
                    $("#data").html('');
                    $("#loading").show();
                    $.ajax({
                        url: "lista_producto_factura/" + this.dataset.value + "/list",
                        beforeSend: function () {
                        },
                        success: function (result) {
                            $("#data").html(result);
                            $("#loading").hide();
                        }
                    });
                }
            })
        });
    </script>
{% endblock %}