{% extends base_template %}
{% import 'SonataAdminBundle:CRUD:base_list_field.html.twig' as show_helper %}

{% block show %}
    <div class="row">
        <div class="col-xs-12 col-md-12">

            <div class="box box-primary" style="margin-bottom: 100px;">
                <div class="box-body table-responsive no-padding">
                    {% if object is empty %}
                        No tiene nada pendiente por confirmar.
                    {% else %}
                        <table class="table table-bordered table-striped table-hover sonata-ba-list">
                            <thead>
                            <tr class="sonata-ba-list-field-header">
                                <th class="sonata-ba-list-field-header-date">Fecha</th>
                                <th class="sonata-ba-list-field-header-integer">No. Factura</th>
                                <th class="sonata-ba-list-field-header-integer">No. Recepción</th>
                                <th class="sonata-ba-list-field-header-text">Destino</th>
                                <th class="sonata-ba-list-field-header-orm_one_to_many ">Productos</th>
                                <th class="sonata-ba-list-field-header-string">Creado</th>
                                <th class="sonata-ba-list-field-header-text "></th>
                            </tr>
                            </thead>
                            <tbody>
                            {#  #}
                            {% for object in object %}
                                <tr>
                                    <td class="sonata-ba-list-field sonata-ba-list-field-date"
                                        objectid="{{ object.id }}">
                                        {{ object.fecha|date('d/m/Y') }}</td>
                                    <td class="sonata-ba-list-field sonata-ba-list-field-text"
                                        objectid="{{ object.id }}">
                                        {{ object.numeroFactura }}</td>
                                    <td class="sonata-ba-list-field sonata-ba-list-field-text"
                                        objectid="{{ object.id }}">
                                        {{ object.numeroInformeRecepcion }}</td>
                                    <td class="sonata-ba-list-field sonata-ba-list-field-text"
                                        objectid="{{ object.id }}">
                                        {{ object.officeDestino }}</td>
                                    <td class="sonata-ba-list-field sonata-ba-list-field-orm_one_to_many">
                                        {#  @var \App\Entity\MovimientoAlmacen\InformeRecepcionOptica object   #}
                                        {% for value in object.accesorios %}
                                            {{ value }},
                                        {% endfor %}
                                        {% for value in object.armaduras %}
                                            {{ value }},
                                        {% endfor %}
                                        {% for value in object.cristales %}
                                            {{ value }},
                                        {% endfor %}
                                        {% for value in object.lupas %}
                                            {{ value }},
                                        {% endfor %}
                                        {% for value in object.tinteCristales %}
                                            {{ value }},
                                        {% endfor %}
                                    </td>
                                    <td class="sonata-ba-list-field sonata-ba-list-field-text"
                                        objectid="{{ object.id }}">
                                        {{ object.usuarioCreador }}</td>
                                    <td class="sonata-ba-list-field sonata-ba-list-field-text"
                                        objectid="{{ object.id }}">
                                        <div class="btn-group">
                                            {% if object.pendiente %}
                                                <button class="btn btn-sm btn-success" data-toggle="modal"
                                                        data-target="#myModal" data-value="{{ object.id }}">
                                                    <i class="fa fa-plus-square" aria-hidden="true"></i> Confirmar
                                                </button>
                                                <a href="{{ admin.generateUrl('cancelar_factura',{'id':object.id,'redirectTo': "lista_factura"}) }}"
                                                   class="btn btn-sm btn-warning" title="Cancelar">
                                                    <i class="fa fa-close" aria-hidden="true"></i>
                                                    Cancelar
                                                </a>
                                            {% else %}
                                                <a href="{{ path('admin_app_movimientoalmacen_informerecepcionoptica_export_pdf',{"id":object.id}) }}"
                                                   class="btn btn-sm btn-default view_link"
                                                   title="Imprimir" target="_blank">
                                                    <i class="fa fa-print" aria-hidden="true"></i>
                                                    Exportar a PDF
                                                </a>
                                            {% endif %}
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                {#                <div class="modal-header">#}
                {#                    <button type="button" class="close" data-dismiss="modal">&times;</button>#}
                {#                    <h4>Datos de La Factura</h4>#}
                {#                </div>#}
                <div class="modal-body">
                    <div id="loading"><img src="{{ asset('bundles/sonataadmin/ajax-loader.gif') }}"></div>
                    <div id="data"></div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('button').on('click', function () {
                if (this.dataset.value) {
                    $("#data").html('');
                    $("#loading").show();
                    $.ajax({
                        url: "../lista_producto_factura/" + this.dataset.value + "/lista_factura",
                        beforeSend: function () {
                        },
                        success: function (result) {
                            $("#data").html(result);
                            $("#loading").hide();
                        }
                    });
                }
            })
        });
    </script>
{% endblock %}