<tr>
    <td class="col-min">
        <span class="label label-warning"><i class="fa fa-random"></i></span>
    </td>
    <td>
        <strong>{{ log.source.typLabel }}</strong> {{ audit_assoc(log.source) }} fue desasociado
        <strong>{{ log.target.typLabel }}</strong> {{ audit_assoc(log.target) }},
        {{ audit_blame(log.blame) }}  desde {{ log.ip }}
        {% if log.blameImpersonate is defined and log.blameImpersonate  is not null %}
            suplantado por  {{ audit_assoc(log.blameImpersonate) }}
        {% endif %}
    </td>
    <td class="col-min">{{ log.loggedAt | date("d/m/y") }}</td>
    <td class="col-min"></td>
</tr>